# Too ensures that both the proxy and the application agree on 
# the environment's identity remember to change the domain in 
# PB_PUBLIC_URL accordingly in dev-environment/pb.env
DOMAIN=pb.dev.localhost

# Handle SSL certificate and redirect ingoing traffic on port 80 to 443.
TLS_STRATEGY="tls internal"